<app-header></app-header>
<app-navbar></app-navbar>
<div id="landingPage-container">

  <div class="container-fluid p-0 m-0" id="promociones">
    <app-promo-carousel></app-promo-carousel>
  </div>
  <div class="container-fluid row justify-content-center pt-4 px-0 m-0" id="medicos">
    <div class="col-12  col-lg-10">
      <h2>Médicos</h2>
      <div class="row pb-4">
        <app-categories class="col-sm-2 col-md-4"></app-categories>
        <app-medical-letters class="col-sm-10 col-md-8"></app-medical-letters>
      </div>
      <hr class="m-0">
      <div class="container-fluid my-4 mx-0 py-4 rounded " id="registro">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>