<div class="row justify-content-center py-4">
    <div class="col-12  col-lg-10">
        <h2 class="mx-2">Promociones</h2>
        <div id="carouselProductos" class="carousel slide m-auto pb-4" data-bs-ride="carousel">
            <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <img src="assets/images/tungnguyen0905-doctor-6701410_1280.jpg" class="d-block img-fluid "
                        alt="Promo 1">
                    <div class="carousel-caption bg-dark bg-opacity-75 rounded p-2">
                        <h3>Chequeo Médico General</h3>
                        <p>30% de descuento durante este mes.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/cyberslayeruk-ai-generated-8333758_1280.png" class="d-block img-fluid w-100"
                        alt="Promo 2">
                    <div class="carousel-caption bg-dark bg-opacity-75 rounded p-2">
                        <h3>Fisioterapia</h3>
                        <p>Plan de rehabilitación con 15% de descuento.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/ovariancancer1-doctor-9628974_1280.jpg" class="d-block img-fluid w-100"
                        alt="Promo 3">
                    <div class="carousel-caption bg-dark bg-opacity-75 rounded p-2">
                        <h3>Terapia Neural</h3>
                        <p>20% de descuento en tu primera sesión.</p>
                    </div>
                </div>
            </div>
            <!-- Controles del carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductos"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProductos"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
          <hr class="m-0">
    </div>
</div>